.buttons {
    margin: 1vh;
}
.buttons img {
    height: 40vh;
}
.buttons:hover {
    cursor: pointer;
}
.buttons p {
    padding: 1vw;
}
#container {
    display: flex;
    justify-content: center;
}
.results {
    text-align: center;
}